[build]
builder = "NIXPACKS"

# Build both frontend and backend
buildCommand = """
cd frontend && npm install && npm run build &&
cd ../backend && pip install -r requirements.txt
"""

# Start Django and serve React build files
startCommand = "cd backend && python manage.py migrate && python manage.py collectstatic --noinput && gunicorn Mwaiseni.wsgi --bind 0.0.0.0:"
